In [255]:
import pandas as pd
import numpy as np

In [256]:
pd.set_option('display.max_columns', None)

In [257]:
train=pd.read_csv('train.csv')

In [258]:
test=pd.read_csv('test.csv')

In [259]:
train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [260]:
print(train.shape, test.shape)

(54808, 14) (23490, 13)

In [261]:
len(train.employee_id.unique())

54808

In [262]:
len(test.employee_id.unique())

23490

In [263]:
test_employee_id=test.employee_id

In [264]:
test.employee_id.shape

(23490,)

In [265]:
train.drop('employee_id',inplace=True,axis=1)

In [266]:
test.drop('employee_id',inplace=True,axis=1)

In [267]:
train.isnull().sum()

department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [268]:
is_promoted=train.is_promoted

In [269]:
train.drop('is_promoted',axis=1,inplace=True)

In [270]:
full_data=pd.concat([train,test])

In [271]:
full_data.shape

(78298, 12)

In [272]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73

In [273]:
full_data.isnull().sum()

department                 0
region                     0
education               3443
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    5936
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [274]:
col_train=pd.read_csv('train_col.csv')
col_test=pd.read_csv('test_col.csv')
col_train.head()

   edu_score  pre_yr_rating
0       50.0            5.0
1       20.0            5.0
2       20.0            3.0
3       20.0            1.0
4       20.0            3.0

In [275]:
col_test.head()

   edu_score  pre_yr_rating
0       20.0            5.0
1       20.0            3.0
2       20.0            1.0
3       20.0            2.0
4       20.0            4.0

In [276]:
t_t_cols=pd.concat([col_train,col_test])
t_t_cols.shape

(78298, 2)

In [277]:
t_t_cols.columns=['education_score','previous_year_rating']
t_t_cols.head()

   education_score  previous_year_rating
0             50.0                   5.0
1             20.0                   5.0
2             20.0                   3.0
3             20.0                   1.0
4             20.0                   3.0

def impute_rating(x):
    index=dept.index(x['department'])
    rate=rating_list[index]
    if np.isnan(x['previous_year_rating']):
        return rate
    else:
        return x['previous_year_rating']
full_data['previous_year_rating']=full_data.apply(impute_rating,axis=1)

In [278]:
full_data.drop('previous_year_rating',axis=1,inplace=True)
full_data=pd.concat([full_data,t_t_cols],axis=1)
full_data.isnull().sum()

department                 0
region                     0
education               3443
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
education_score            0
previous_year_rating       0
dtype: int64

# Department wise

# Avg no of training(bool), deptwise avg no of training(full and bool)

In [279]:
avg_no_of_trainings=full_data['no_of_trainings'].mean()

In [280]:
avg_no_of_trainings

1.2533781194921965

In [281]:
def do(x):
    if x['no_of_trainings']>=avg_no_of_trainings:
        return 1
    else:
        return 0
        
full_data['is_gt_avg_training']=full_data.apply(do,axis=1)

In [282]:
full_data.shape

(78298, 14)

In [283]:
full_data['department'].unique()

array(['Sales & Marketing', 'Operations', 'Technology', 'Analytics',
       'R&D', 'Procurement', 'Finance', 'HR', 'Legal'], dtype=object)

In [284]:
s_and_m=full_data[full_data['department']=='Sales & Marketing'].loc[:,'no_of_trainings'].mean()
s_and_m

1.274642931070172

In [285]:
op=full_data[full_data['department']=='Operations'].loc[:,'no_of_trainings'].mean()
op

1.164908142999007

In [286]:
tech=full_data[full_data['department']=='Technology'].loc[:,'no_of_trainings'].mean()
tech

1.2563799389102375

In [287]:
analy=full_data[full_data['department']=='Analytics'].loc[:,'no_of_trainings'].mean()
analy

1.3410246382479467

In [288]:
r_d=full_data[full_data['department']=='R&D'].loc[:,'no_of_trainings'].mean()
r_d

1.3870743571924948

In [289]:
proc=full_data[full_data['department']=='Procurement'].loc[:,'no_of_trainings'].mean()
proc

1.3280173262453239

In [290]:
fina=full_data[full_data['department']=='Finance'].loc[:,'no_of_trainings'].mean()
fina

1.3068651778329197

In [291]:
hr=full_data[full_data['department']=='HR'].loc[:,'no_of_trainings'].mean()
hr

1.0573793890950614

In [292]:
legal=full_data[full_data['department']=='Legal'].loc[:,'no_of_trainings'].mean()
legal

1.0855795148247978

In [293]:
def dept_no_train(x):
    if x['department']=='Legal':
        if x['no_of_trainings']>=legal:
            return 1
        else:
            return 0
    elif x['department']=='HR':
        if x['no_of_trainings']>=hr:
            return 1
        else:
            return 0
    elif x['department']=='Finance':
        if x['no_of_trainings']>=fina:
            return 1
        else:
            return 0
    elif x['department']=='Procurement':
        if x['no_of_trainings']>=proc:
            return 1
        else:
            return 0
    elif x['department']=='R&D':
        if x['no_of_trainings']>=r_d:
            return 1
        else:
            return 0
    elif x['department']=='Analytics':
        if x['no_of_trainings']>=analy:
            return 1
        else:
            return 0
    elif x['department']=='Technology':
        if x['no_of_trainings']>=tech:
            return 1
        else:
            return 0
    elif x['department']=='Operations':
        if x['no_of_trainings']>=op:
            return 1
        else:
            return 0
    elif x['department']=='Sales & Marketing':
        if x['no_of_trainings']>=s_and_m:
            return 1
        else:
            return 0

In [294]:
full_data['is_dept_gt_avg_training']=full_data.apply(do,axis=1)

In [295]:
full_data.shape

(78298, 15)

In [296]:
def fill_dept(x):
    if x['department']=='Legal':
        return legal
    elif x['department']=='HR':
        return hr
    elif x['department']=='Finance':
        return fina
    elif x['department']=='Procurement':
        return proc
    elif x['department']=='R&D':
        return r_d
    elif x['department']=='Analytics':
        return analy
    elif x['department']=='Technology':
        return tech
    elif x['department']=='Operations':
        return op
    elif x['department']=='Sales & Marketing':
        return s_and_m

In [297]:
full_data['dept_avg_training']=full_data.apply(fill_dept,axis=1)

# No of trainings / length of service

In [298]:
full_data['training_service_ratio']=full_data['no_of_trainings']/full_data['length_of_service']

In [299]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000

In [300]:
lol=full_data.iloc[is_promoted[is_promoted==1].index,:]

In [301]:
lol[np.isnan(lol['previous_year_rating'])].training_service_ratio.value_counts()

Series([], Name: training_service_ratio, dtype: int64)

In [302]:
full_data['KPImet_and_Awardwon']=full_data['KPIs_met >80%']*full_data['awards_won?']

In [303]:
full_data['KPImet_and_Awardwon'].value_counts()

0    77095
1     1203
Name: KPImet_and_Awardwon, dtype: int64

In [304]:
full_data['previous_year_rating'].max()

5.0

In [305]:
full_data['previous_year_rating'].min()

1.0

In [306]:
full_data['avg_training_score'].min()

39

In [307]:
full_data['avg_training_score'].max()

99

In [308]:
full_data['score_minus_rating']=full_data['avg_training_score']-(full_data['previous_year_rating']*20)

In [309]:
full_data['score_minus_rating'].min()

-60.0

In [310]:
full_data['score/rating']=full_data['avg_training_score']/(full_data['previous_year_rating']*20)

In [311]:
full_data['score/rating'].min()

0.4

In [312]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667

In [313]:
dept=full_data['department'].unique()

In [314]:
score_list=[]
for i in dept:
    score_list.append(full_data[full_data['department']==i].loc[:,'avg_training_score'].mean())
score_list

[50.20848685572345,
 60.248572492552135,
 79.90846388806779,
 84.58427845131013,
 84.5406532314107,
 70.1294546170506,
 60.252274607113314,
 50.10733656865544,
 59.78032345013477]

In [315]:
dept=list(dept)

In [316]:
def training_score_relative(x):
    dept_index=dept.index(x['department'])
    score=score_list[dept_index]
    return x['avg_training_score']-score

In [317]:
full_data['training_score minus dept avg score']=full_data.apply(training_score_relative,axis=1)

In [318]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464

In [319]:
full_data.iloc[is_promoted[is_promoted==1].index,:].loc[:,'training_score minus dept avg score'].min()

-11.908463888067786

In [320]:
full_data.iloc[is_promoted[is_promoted==0].index,:].loc[:,'training_score minus dept avg score'].min()

-11.540653231410701

In [321]:
rating_list=[]
for i in dept:
    rating_list.append(full_data[full_data['department']==i].loc[:,'previous_year_rating'].mean())
rating_list

[3.1114469054026084,
 3.646288480635551,
 3.2075081288796925,
 3.5729370355885806,
 3.6031966643502433,
 3.3154164205552275,
 3.554452715743038,
 3.5232657721952614,
 3.467654986522911]

In [322]:
def rating_score_relative(x):
    dept_index=dept.index(x['department'])
    rating=rating_list[dept_index]
    return x['previous_year_rating']-rating

In [323]:
full_data['rating minus dept avg rating']=full_data.apply(rating_score_relative,axis=1)

In [324]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508

In [325]:
full_data.iloc[is_promoted[is_promoted==1].index,:]

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating
11,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,3,1,0,50,20.0,5.0,0,0,1.274643,0.333333,0,-50.0,0.500000,-0.208487,1.888553
39,Sales & Marketing,region_28,Bachelor's,m,sourcing,1,33,6,1,0,51,20.0,5.0,0,0,1.274643,0.166667,0,-49.0,0.510000,0.791513,1.888553
60,Sales & Marketing,region_4,Master's & above,m,other,1,50,17,1,0,47,50.0,4.0,0,0,1.274643,0.058824,0,-33.0,0.587500,-3.208487,0.888553
66,Finance,region_22,Bachelor's,m,other,1,27,1,1,1,58,20.0,5.0,0,0,1.306865,1.000000,1,-42.0,0.580000,-2.252275,1.445547
67,Sales & Marketing,region_22,Bachelor's,m,sourcing,1,27,1,0,0,61,20.0,3.0,0,0,1.274643,1.000000,0,1.0,1.016667,10.791513,-0.111447
69,Analytics,region_31,Bachelor's,m,other,1,30,7,1,0,84,20.0,3.0,0,0,1.341025,0.142857,0,24.0,1.400000,-0.584278,-0.572937
71,Technology,region_22,Master's & above,m,other,1,34,7,1,0,78,50.0,5.0,0,0,1.256380,0.142857,0,-22.0,0.780000,-1.908464,1.792492
75,Sales & Marketing,region_2,Master's & above,m,sourcing,1,38,2,1,0,49,50.0,4.0,0,0,1.274643,0.500000,0,-31.0,0.612500,-1.208487,0.888553
79,Sales & Marketing,region_22,Bachelor's,m,sourcing,1,30,3,0,0,58,20.0,3.0,0,0,1.274643,0.333333,0,-2.0,0.966667,7.791513,-0.111447
84,Legal,region_7,Bachelor's,m,other,1,29,1,0,0,65,20.0,3.0,0,0,1.085580,1.000000,0,5.0,1.083333,5.219677,-0.467655
85,Operations,region_11,Master's & above,f,sourcing,1,42,11,1,0,60,50.0,5.0,0,0,1.164908,0.090909,0,-40.0,0.600000,-0.248572,1.353712
88,Procurement,region_7,Master's & above,m,sourcing,1,32,3,1,0,69,50.0,5.0,0,0,1.328017,0.333333,0,-31.0,0.690000,-1.129455,1.684584
100,Operations,region_15,Bachelor's,m,other,1,31,4,1,0,63,20.0,5.0,0,0,1.164908,0.250000,0,-37.0,0.630000,2.751428,1.353712
105,Operations,region_13,Bachelor's,m,other,1,35,6,1,0,57,20.0,4.0,0,0,1.164908,0.166667,0,-23.0,0.712500,-3.248572,0.353712
113,Sales & Marketing,region_7,Bachelor's,f,other,1,40,2,1,0,90,20.0,3.0,0,0,1.274643,0.500000,0,30.0,1.500000,39.791513,-0.111447
116,Technology,region_2,Bachelor's,m,other,1,27,2,0,0,86,20.0,5.0,0,0,1.256380,0.500000,0,-14.0,0.860000,6.091536,1.792492
118,Procurement,region_23,Bachelor's,f,other,1,27,4,1,0,72,20.0,4.0,0,0,1.328017,0.250000,0,-8.0,0.900000,1.870545,0.684584
121,Sales & Marketing,region_25,Master's & above,m,other,1,34,7,1,0,51,50.0,5.0,0,0,1.274643,0.142857,0,-49.0,0.510000,0.791513,1.888553
122,Procurement,region_34,Master's & above,m,sourcing,1,37,3,0,1,92,50.0,5.0,0,0,1.328017,0.333333,0,-8.0,0.920000,21.870545,1.684584
133,Analytics,region_22,Bachelor's,m,other,1,32,8,0,0,89,20.0,3.0,0,0,1.341025,0.125000,0,29.0,1.483333,4.415722,-0.572937
151,Technology,region_5,Bachelor's,f,other,2,34,8,0,0,88,20.0,5.0,1,1,1.256380,0.250000,0,-12.0,0.880000,8.091536,1.792492
152,Procurement,region_2,Bachelor's,m,sourcing,1,25,3,1,0,70,20.0,5.0,0,0,1.328017,0.333333,0,-30.0,0.700000,-0.129455,1.684584
154,Operations,region_13,Master's & above,m,other,1,43,7,1,0,56,50.0,3.0,0,0,1.164908,0.142857,0,-4.0,0.933333,-4.248572,-0.646288
188,Sales & Marketing,region_17,Bachelor's,m,other,1,34,7,1,0,48,20.0,4.0,0,0,1.274643,0.142857,0,-32.0,0.600000,-2.208487,0.888553
200,Sales & Marketing,region_23,Master's & above,f,sourcing,1,34,5,1,1,94,50.0,4.0,0,0,1.274643,0.200000,1,14.0,1.175000,43.791513,0.888553
230,Operations,region_13,Master's & above,f,other,1,38,2,1,1,93,50.0,5.0,0,0,1.164908,0.500000,1,-7.0,0.930000,32.751428,1.353712
244,Operations,region_22,Bachelor's,m,sourcing,2,37,4,1,0,57,20.0,2.0,1,1,1.164908,0.500000,0,17.0,1.425000,-3.248572,-1.646288
296,Procurement,region_2,Bachelor's,f,other,1,29,2,1,0,95,20.0,4.0,0,0,1.328017,0.500000,0,15.0,1.187500,24.870545,0.684584
317,Analytics,region_20,Master's & above,m,other,1,40,5,0,1,83,50.0,5.0,0,0,1.341025,0.200000,0,-17.0,0.830000,-1.584278,1.427063
321,Operations,region_22,Master's & above,m,other,1,34,3,0,0,75,50.0,3.0,0,0,1.164908,0.333333,0,15.0,1.250000,14.751428,-0.646288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54455,Sales & Marketing,region_16,Bachelor's,m,sourcing,1,33,7,1,0,96,20.0,3.0,0,0,1.274643,0.142857,0,36.0,1.600000,45.791513,-0.111447
54471,Sales & Marketing,region_17,Bachelor's,m,other,2,26,2,0,0,65,20.0,5.0,1,1,1.274643,1.000000,0,-35.0,0.650000,14.791513,1.888553
54489,Sales & Marketing,region_2,Bachelor's,m,other,1,44,14,0,0,58,20.0,4.0,0,0,1.274643,0.071429,0,-22.0,0.725000,7.791513,0.888553
54497,Operations,region_15,Bachelor's,m,sourcing,1,36,8,1,0,56,20.0,4.0,0,0,1.164908,0.125000,0,-24.0,0.700000,-4.248572,0.353712
54503,Sales & Marketing,region_25,Master's & above,m,sourcing,2,32,5,1,1,92,50.0,4.0,1,1,1.274643,0.400000,1,12.0,1.150000,41.791513,0.888553
54504,Technology,region_8,Bachelor's,m,other,1,27,2,1,0,78,20.0,4.0,0,0,1.256380,0.500000,0,-2.0,0.975000,-1.908464,0.792492
54507,Analytics,region_25,Master's & above,m,other,1,35,3,0,1,81,50.0,5.0,0,0,1.341025,0.333333,0,-19.0,0.810000,-3.584278,1.427063
54511,Technology,region_27,Bachelor's,m,other,2,30,6,0,0,80,20.0,3.0,1,1,1.256380,0.333333,0,20.0,1.333333,0.091536,-0.207508
54522,Sales & Marketing,region_7,Master's & above,f,other,1,45,16,1,0,45,50.0,5.0,0,0,1.274643,0.062500,0,-55.0,0.450000,-5.208487,1.888553
54523,Operations,region_22,Master's & above,m,sourcing,2,38,11,0,0,72,50.0,5.0,1,1,1.164908,0.181818,0,-28.0,0.720000,11.751428,1.353712
54533,Analytics,region_25,Bachelor's,m,sourcing,2,32,2,1,0,87,20.0,5.0,1,1,1.341025,1.000000,0,-13.0,0.870000,2.415722,1.427063
54535,R&D,region_22,Master's & above,m,other,2,28,1,1,0,83,50.0,5.0,1,1,1.387074,2.000000,0,-17.0,0.830000,-1.540653,1.396803
54542,Technology,region_2,Master's & above,m,other,1,43,12,0,0,80,50.0,3.0,0,0,1.256380,0.083333,0,20.0,1.333333,0.091536,-0.207508
54573,Sales & Marketing,region_7,Bachelor's,m,other,1,45,17,0,0,62,20.0,1.0,0,0,1.274643,0.058824,0,42.0,3.100000,11.791513,-2.111447
54574,Analytics,region_22,Bachelor's,m,sourcing,1,28,3,1,0,88,20.0,5.0,0,0,1.341025,0.333333,0,-12.0,0.880000,3.415722,1.427063
54576,Operations,region_7,Master's & above,m,sourcing,1,35,3,1,0,57,50.0,5.0,0,0,1.164908,0.333333,0,-43.0,0.570000,-3.248572,1.353712
54579,Technology,region_17,Master's & above,m,sourcing,1,42,12,0,0,80,50.0,3.0,0,0,1.256380,0.083333,0,20.0,1.333333,0.091536,-0.207508
54624,Finance,region_2,Bachelor's,m,other,1,24,1,0,0,71,20.0,3.0,0,0,1.306865,1.000000,0,11.0,1.183333,10.747725,-0.554453
54643,Operations,region_2,Bachelor's,f,other,1,40,11,1,0,91,20.0,3.0,0,0,1.164908,0.090909,0,31.0,1.516667,30.751428,-0.646288
54657,Procurement,region_7,Bachelor's,m,other,1,31,6,1,0,68,20.0,5.0,0,0,1.328017,0.166667,0,-32.0,0.680000,-2.129455,1.684584
54695,Operations,region_2,Bachelor's,f,other,2,52,18,1,0,56,20.0,5.0,1,1,1.164908,0.111111,0,-44.0,0.560000,-4.248572,1.353712
54713,Procurement,region_22,Bachelor's,m,sourcing,1,30,4,1,0,67,20.0,4.0,0,0,1.328017,0.250000,0,-13.0,0.837500,-3.129455,0.684584
54720,Analytics,region_4,Bachelor's,m,sourcing,1,29,3,1,0,88,20.0,2.0,0,0,1.341025,0.333333,0,48.0,2.200000,3.415722,-1.572937
54722,Procurement,region_10,Master's & above,m,sourcing,1,34,2,1,0,72,50.0,5.0,0,0,1.328017,0.500000,0,-28.0,0.720000,1.870545,1.684584
54730,Sales & Marketing,region_2,Bachelor's,m,other,1,29,4,0,0,58,20.0,5.0,0,0,1.274643,0.250000,0,-42.0,0.580000,7.791513,1.888553
54734,Operations,region_15,Bachelor's,m,sourcing,1,31,1,1,0,56,20.0,5.0,0,0,1.164908,1.000000,0,-44.0,0.560000,-4.248572,1.353712
54757,Technology,region_7,Master's & above,m,other,1,54,7,0,0,81,50.0,4.0,0,0,1.256380,0.142857,0,1.0,1.012500,1.091536,0.792492
54761,Procurement,region_13,Bachelor's,f,sourcing,1,30,2,1,0,86,20.0,4.0,0,0,1.328017,0.500000,0,6.0,1.075000,15.870545,0.684584
54792,Sales & Marketing,region_14,Bachelor's,m,other,1,59,11,0,0,65,20.0,3.0,0,0,1.274643,0.090909,0,5.0,1.083333,14.791513,-0.111447
54796,Sales & Marketing,region_25,Master's & above,m,other,1,34,7,0,0,60,50.0,3.0,0,0,1.274643,0.142857,0,0.0,1.000000,9.791513,-0.111447

In [326]:
full_data.shape

(78298, 22)

In [327]:
full_data.isnull().sum()

department                                0
region                                    0
education                              3443
gender                                    0
recruitment_channel                       0
no_of_trainings                           0
age                                       0
length_of_service                         0
KPIs_met >80%                             0
awards_won?                               0
avg_training_score                        0
education_score                           0
previous_year_rating                      0
is_gt_avg_training                        0
is_dept_gt_avg_training                   0
dept_avg_training                         0
training_service_ratio                    0
KPImet_and_Awardwon                       0
score_minus_rating                        0
score/rating                              0
training_score minus dept avg score       0
rating minus dept avg rating              0
dtype: int64

In [328]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508

In [329]:
train.shape

(54808, 12)

In [330]:
train1=pd.concat([train,is_promoted],axis=1)

In [331]:
train1.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [332]:
l=pd.crosstab(train1['department'],train1['is_promoted'])

In [333]:
l.T

department,Analytics,Finance,HR,Legal,Operations,Procurement,R&D,Sales & Marketing,Technology
is_promoted,,,,,,,,,
0,4840,2330,2282,986,10325,6450,930,15627,6370
1,512,206,136,53,1023,688,69,1213,768

In [334]:
inter_department=l.T.apply(lambda r: r/r.sum(), axis=1)
inter_department

department,Analytics,Finance,HR,Legal,Operations,Procurement,R&D,Sales & Marketing,Technology
is_promoted,,,,,,,,,
0,0.096530,0.04647,0.045513,0.019665,0.205923,0.128640,0.018548,0.311667,0.127044
1,0.109683,0.04413,0.029135,0.011354,0.219152,0.147386,0.014781,0.259854,0.164524

In [335]:
inter_department.iloc[1,0]

0.10968294772922023

In [336]:
l

is_promoted            0     1
department
Analytics           4840   512
Finance             2330   206
HR                  2282   136
Legal                986    53
Operations         10325  1023
Procurement         6450   688
R&D                  930    69
Sales & Marketing  15627  1213
Technology          6370   768

In [337]:
intra_department=l.apply(lambda r: r/r.sum(), axis=1)
intra_department

is_promoted               0         1
department
Analytics          0.904335  0.095665
Finance            0.918770  0.081230
HR                 0.943755  0.056245
Legal              0.948989  0.051011
Operations         0.909852  0.090148
Procurement        0.903614  0.096386
R&D                0.930931  0.069069
Sales & Marketing  0.927969  0.072031
Technology         0.892407  0.107593

In [338]:
dept1=dept

In [339]:
dept1.sort()

In [340]:
dept1

['Analytics',
 'Finance',
 'HR',
 'Legal',
 'Operations',
 'Procurement',
 'R&D',
 'Sales & Marketing',
 'Technology']

In [341]:
def intra_dept(x):
    index=dept1.index(x['department'])
    prob=intra_department.iloc[index,1]
    return prob
full_data['prob_intra_dept']=full_data.apply(intra_dept,axis=1)

In [342]:
def inter_dept(x):
    index=dept1.index(x['department'])
    prob=inter_department.iloc[1,index]
    return prob
full_data['prob_inter_dept']=full_data.apply(inter_dept,axis=1)

In [343]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524

In [344]:
l=pd.crosstab(train1['region'],train1['is_promoted'])

In [345]:
l

is_promoted      0    1
region
region_1       552   58
region_10      597   51
region_11     1241   74
region_12      467   33
region_13     2418  230
region_14      765   62
region_15     2586  222
region_16     1363  102
region_17      687  109
region_18       30    1
region_19      821   53
region_2     11354  989
region_20      801   49
region_21      393   18
region_22     5694  734
region_23     1038  137
region_24      490   18
region_25      716  103
region_26     2117  143
region_27     1528  131
region_28     1164  154
region_29      951   43
region_3       309   37
region_30      598   59
region_31     1825  110
region_32      905   40
region_33      259   10
region_34      284    8
region_4      1457  246
region_5       731   35
region_6       658   32
region_7      4327  516
region_8       602   53
region_9       412    8

In [346]:
l.T

region,region_1,region_10,region_11,region_12,region_13,region_14,region_15,region_16,region_17,region_18,region_19,region_2,region_20,region_21,region_22,region_23,region_24,region_25,region_26,region_27,region_28,region_29,region_3,region_30,region_31,region_32,region_33,region_34,region_4,region_5,region_6,region_7,region_8,region_9
is_promoted,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,552,597,1241,467,2418,765,2586,1363,687,30,821,11354,801,393,5694,1038,490,716,2117,1528,1164,951,309,598,1825,905,259,284,1457,731,658,4327,602,412
1,58,51,74,33,230,62,222,102,109,1,53,989,49,18,734,137,18,103,143,131,154,43,37,59,110,40,10,8,246,35,32,516,53,8

In [347]:
inter_region=l.T.apply(lambda r: r/r.sum(), axis=1)
inter_region

region,region_1,region_10,region_11,region_12,region_13,region_14,region_15,region_16,region_17,region_18,region_19,region_2,region_20,region_21,region_22,region_23,region_24,region_25,region_26,region_27,region_28,region_29,region_3,region_30,region_31,region_32,region_33,region_34,region_4,region_5,region_6,region_7,region_8,region_9
is_promoted,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.011009,0.011907,0.024751,0.009314,0.048225,0.015257,0.051576,0.027184,0.013702,0.000598,0.016374,0.226446,0.015975,0.007838,0.113562,0.020702,0.009773,0.014280,0.042222,0.030475,0.023215,0.018967,0.006163,0.011927,0.036398,0.018049,0.005166,0.005664,0.029059,0.014579,0.013123,0.086298,0.012006,0.008217
1,0.012425,0.010925,0.015853,0.007069,0.049272,0.013282,0.047558,0.021851,0.023350,0.000214,0.011354,0.211868,0.010497,0.003856,0.157241,0.029349,0.003856,0.022065,0.030634,0.028063,0.032991,0.009212,0.007926,0.012639,0.023565,0.008569,0.002142,0.001714,0.052699,0.007498,0.006855,0.110540,0.011354,0.001714

In [348]:
intra_region=l.apply(lambda r: r/r.sum(), axis=1)
intra_region

is_promoted         0         1
region
region_1     0.904918  0.095082
region_10    0.921296  0.078704
region_11    0.943726  0.056274
region_12    0.934000  0.066000
region_13    0.913142  0.086858
region_14    0.925030  0.074970
region_15    0.920940  0.079060
region_16    0.930375  0.069625
region_17    0.863065  0.136935
region_18    0.967742  0.032258
region_19    0.939359  0.060641
region_2     0.919874  0.080126
region_20    0.942353  0.057647
region_21    0.956204  0.043796
region_22    0.885812  0.114188
region_23    0.883404  0.116596
region_24    0.964567  0.035433
region_25    0.874237  0.125763
region_26    0.936726  0.063274
region_27    0.921037  0.078963
region_28    0.883156  0.116844
region_29    0.956740  0.043260
region_3     0.893064  0.106936
region_30    0.910198  0.089802
region_31    0.943152  0.056848
region_32    0.957672  0.042328
region_33    0.962825  0.037175
region_34    0.972603  0.027397
region_4     0.855549  0.144451
region_5     0.954308  0.045692
region_6     0.953623  0.046377
region_7     0.893454  0.106546
region_8     0.919084  0.080916
region_9     0.980952  0.019048

In [349]:
region=full_data['region'].unique()

In [350]:
region=list(region)

In [351]:
print(region)

['region_7', 'region_22', 'region_19', 'region_23', 'region_26', 'region_2', 'region_20', 'region_34', 'region_1', 'region_4', 'region_29', 'region_31', 'region_15', 'region_14', 'region_11', 'region_5', 'region_28', 'region_17', 'region_13', 'region_16', 'region_25', 'region_10', 'region_27', 'region_30', 'region_12', 'region_21', 'region_8', 'region_32', 'region_6', 'region_33', 'region_24', 'region_3', 'region_9', 'region_18']

In [352]:
region=sorted(region)

In [353]:
print(region)

['region_1', 'region_10', 'region_11', 'region_12', 'region_13', 'region_14', 'region_15', 'region_16', 'region_17', 'region_18', 'region_19', 'region_2', 'region_20', 'region_21', 'region_22', 'region_23', 'region_24', 'region_25', 'region_26', 'region_27', 'region_28', 'region_29', 'region_3', 'region_30', 'region_31', 'region_32', 'region_33', 'region_34', 'region_4', 'region_5', 'region_6', 'region_7', 'region_8', 'region_9']

In [354]:
def intra_regions(x):
    index=region.index(x['region'])
    prob=intra_region.iloc[index,1]
    return prob
full_data['prob_intra_region']=full_data.apply(intra_regions,axis=1)

In [355]:
def inter_regions(x):
    index=region.index(x['region'])
    prob=inter_region.iloc[1,index]
    return prob
full_data['prob_inter_region']=full_data.apply(inter_regions,axis=1)

In [356]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634

In [357]:
l=pd.crosstab(train1['gender'],train1['is_promoted'])

In [358]:
l

is_promoted      0     1
gender
f            14845  1467
m            35295  3201

In [359]:
inter_gender=l.T.apply(lambda r: r/r.sum(), axis=1)
inter_gender

gender              f         m
is_promoted
0            0.296071  0.703929
1            0.314267  0.685733

In [360]:
intra_gender=l.apply(lambda r: r/r.sum(), axis=1)
intra_gender

is_promoted         0         1
gender
f            0.910066  0.089934
m            0.916849  0.083151

In [361]:
gender=full_data['gender'].unique()
gender=list(gender)
gender=sorted(gender)
gender

['f', 'm']

In [362]:
def intra_genders(x):
    index=gender.index(x['gender'])
    prob=intra_gender.iloc[index,1]
    return prob
full_data['prob_intra_gender']=full_data.apply(intra_genders,axis=1)

In [363]:
def inter_genders(x):
    index=gender.index(x['gender'])
    prob=inter_gender.iloc[1,index]
    return prob
full_data['prob_inter_gender']=full_data.apply(inter_genders,axis=1)

In [364]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733

In [365]:
l=pd.crosstab(train1['recruitment_channel'],train1['is_promoted'])
l

is_promoted              0     1
recruitment_channel
other                27890  2556
referred              1004   138
sourcing             21246  1974

In [366]:
intra_recruit=l.apply(lambda r: r/r.sum(), axis=1)
intra_recruit

is_promoted                 0         1
recruitment_channel
other                0.916048  0.083952
referred             0.879159  0.120841
sourcing             0.914987  0.085013

In [367]:
inter_recruit=l.T.apply(lambda r: r/r.sum(), axis=1)
inter_recruit

recruitment_channel     other  referred  sourcing
is_promoted
0                    0.556243  0.020024  0.423734
1                    0.547558  0.029563  0.422879

In [368]:
recruit=full_data['recruitment_channel'].unique()
recruit=list(recruit)
recruit=sorted(recruit)
recruit

['other', 'referred', 'sourcing']

In [369]:
def intra_recruits(x):
    index=recruit.index(x['recruitment_channel'])
    prob=intra_recruit.iloc[index,1]
    return prob
full_data['prob_intra_recruits']=full_data.apply(intra_recruits,axis=1)

In [370]:
def inter_recruits(x):
    index=recruit.index(x['recruitment_channel'])
    prob=inter_recruit.iloc[1,index]
    return prob
full_data['prob_inter_recruits']=full_data.apply(inter_recruits,axis=1)

In [371]:
full_data.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,Operations,region_22,Bachelor's,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,Technology,region_26,Bachelor's,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [372]:
edu=full_data.education

In [373]:
full_data.drop('education',inplace=True,axis=1)

In [374]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [375]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [376]:
full_data.shape

(78298, 29)

In [377]:
train.shape

(54808, 12)

In [378]:
train2=full_data.iloc[0:54808,:]
train2.shape

(54808, 29)

In [379]:
test2=full_data.iloc[54808:,:]
test2.shape

(23490, 29)

In [380]:
test.shape

(23490, 12)

In [381]:
train2=pd.concat([train2,is_promoted],axis=1)

In [382]:
train2.shape

(54808, 30)

In [184]:
train2.to_csv('train_new.csv')

In [185]:
test2.to_csv('test_new.csv')

In [183]:
train2.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,is_promoted
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,0
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,0
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,0
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,0
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,0

In [187]:
full_data.to_csv('full.csv')

In [383]:
full_data2=full_data

In [384]:
full_data2.shape

(78298, 29)

In [385]:
full_data2.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [386]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [387]:
av_age=[]
for i in dept:
    av_age.append(full_data[full_data['department']==i].loc[:,'age'].mean())

In [388]:
def avg_age_dept(x):
    index=dept.index(x['department'])
    av_ag=av_age[index]
    return av_ag
full_data['avg_age_dept']=full_data.apply(avg_age_dept,axis=1)

In [389]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,avg_age_dept
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,34.801615
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,36.084471
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,34.801615
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,34.801615
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,34.887378

In [390]:
av_service=[]
for i in dept:
    av_service.append(full_data[full_data['department']==i].loc[:,'length_of_service'].mean())

In [391]:
def avg_service(x):
    index=dept.index(x['department'])
    av_se=av_service[index]
    return av_se
full_data['avg_service']=full_data.apply(avg_service,axis=1)

In [392]:
def avg_rating(x):
    index=dept.index(x['department'])
    av_r=rating_list[index]
    return av_r
full_data['avg_rating']=full_data.apply(avg_rating,axis=1)

In [393]:
def avg_scoring(x):
    index=dept.index(x['department'])
    av_scr=score_list[index]
    return av_scr
full_data['avg_scoring']=full_data.apply(avg_scoring,axis=1)

In [394]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,avg_age_dept,avg_service,avg_rating,avg_scoring
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,36.084471,6.415653,3.603197,84.540653
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,34.801615,5.871911,3.523266,50.107337
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,34.887378,5.895458,3.467655,59.780323

In [395]:
inter_department

department,Analytics,Finance,HR,Legal,Operations,Procurement,R&D,Sales & Marketing,Technology
is_promoted,,,,,,,,,
0,0.096530,0.04647,0.045513,0.019665,0.205923,0.128640,0.018548,0.311667,0.127044
1,0.109683,0.04413,0.029135,0.011354,0.219152,0.147386,0.014781,0.259854,0.164524

In [396]:
import scipy.stats as ss

In [397]:
inter_dept_rank=ss.rankdata(inter_department.iloc[1,:])

In [398]:
intra_department

is_promoted               0         1
department
Analytics          0.904335  0.095665
Finance            0.918770  0.081230
HR                 0.943755  0.056245
Legal              0.948989  0.051011
Operations         0.909852  0.090148
Procurement        0.903614  0.096386
R&D                0.930931  0.069069
Sales & Marketing  0.927969  0.072031
Technology         0.892407  0.107593

In [399]:
intra_dept_rank=ss.rankdata(intra_department.iloc[:,1])
intra_dept_rank

array([7., 5., 2., 1., 6., 8., 3., 4., 9.])

In [400]:
final_dept_rank=(inter_dept_rank+intra_dept_rank)/2

In [401]:
final_dept_rank

array([6. , 4.5, 2.5, 1. , 7. , 7. , 2.5, 6.5, 8. ])

In [402]:
inter_region_rank=ss.rankdata(inter_region.iloc[1,:])

In [403]:
intra_region_rank=ss.rankdata(intra_region.iloc[:,1])

In [404]:
final_region_rank=(inter_region_rank+intra_region_rank)/2

In [405]:
final_region_rank

array([21.5 , 16.5 , 15.5 , 12.  , 27.  , 18.5 , 25.  , 19.  , 28.  ,
        2.  , 14.75, 28.  , 13.  ,  6.75, 31.  , 28.  ,  4.75, 27.  ,
       21.  , 22.5 , 29.5 ,  9.5 , 19.  , 21.5 , 18.  ,  8.5 ,  4.5 ,
        2.25, 32.5 ,  9.  ,  8.5 , 29.5 , 19.25,  1.75])

In [406]:
def dept_rank(x):
    index=dept.index(x['department'])
    av_r=final_dept_rank[index]
    return av_r
full_data['dept_rank']=full_data.apply(dept_rank,axis=1)

In [407]:
def region_rank(x):
    index=dept.index(x['department'])
    av_r=final_region_rank[index]
    return av_r
full_data['region_rank']=full_data.apply(region_rank,axis=1)

In [408]:
full_data.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,avg_age_dept,avg_service,avg_rating,avg_scoring,dept_rank,region_rank
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,36.084471,6.415653,3.603197,84.540653,7.0,27.0
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,34.801615,5.871911,3.523266,50.107337,6.5,19.0
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,34.887378,5.895458,3.467655,59.780323,8.0,28.0

In [409]:
inter_recruit

recruitment_channel     other  referred  sourcing
is_promoted
0                    0.556243  0.020024  0.423734
1                    0.547558  0.029563  0.422879

In [410]:
inter_recruit_rank=ss.rankdata(inter_recruit.iloc[1,:])

In [411]:
inter_recruit_rank

array([3., 1., 2.])

In [412]:
intra_recruit

is_promoted                 0         1
recruitment_channel
other                0.916048  0.083952
referred             0.879159  0.120841
sourcing             0.914987  0.085013

In [413]:
intra_recruit_rank=ss.rankdata(intra_recruit.iloc[:,1])

In [414]:
intra_recruit_rank

array([1., 3., 2.])

In [415]:
final_recruit_rank=(inter_recruit_rank+intra_recruit_rank)/2

In [416]:
intra_gender

is_promoted         0         1
gender
f            0.910066  0.089934
m            0.916849  0.083151

In [417]:
intra_gender_rank=ss.rankdata(intra_gender.iloc[:,1])
inter_gender_rank=ss.rankdata(inter_gender.iloc[1,:])

In [418]:
final_gender_rank=(inter_gender_rank+intra_gender_rank)/2

In [419]:
final_gender_rank

array([1.5, 1.5])

In [420]:
intra_gender_rank

array([2., 1.])

In [421]:
final_recruit_rank

array([2., 2., 2.])

In [422]:
inter_recruit_rank

array([3., 1., 2.])

In [423]:
intra_recruit_rank

array([1., 3., 2.])

In [424]:
full_datax=full_data
full_datax.head()

,department,region,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,avg_age_dept,avg_service,avg_rating,avg_scoring,dept_rank,region_rank
0,Sales & Marketing,region_7,f,sourcing,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
1,Operations,region_22,m,other,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,36.084471,6.415653,3.603197,84.540653,7.0,27.0
2,Sales & Marketing,region_19,m,sourcing,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
3,Sales & Marketing,region_23,m,other,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,34.801615,5.871911,3.523266,50.107337,6.5,19.0
4,Technology,region_26,m,other,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,34.887378,5.895458,3.467655,59.780323,8.0,28.0

In [425]:
full_datax1=full_datax.iloc[:,4:]

In [426]:
full_datax1.head()

,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,education_score,previous_year_rating,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,avg_age_dept,avg_service,avg_rating,avg_scoring,dept_rank,region_rank
0,1,35,8,1,0,49,50.0,5.0,0,0,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.888553,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
1,1,30,4,0,0,60,20.0,5.0,0,0,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.353712,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,36.084471,6.415653,3.603197,84.540653,7.0,27.0
2,1,34,7,0,0,50,20.0,3.0,0,0,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.111447,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,34.801615,5.871911,3.523266,50.107337,6.5,19.0
3,2,39,10,0,0,50,20.0,1.0,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.111447,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,34.801615,5.871911,3.523266,50.107337,6.5,19.0
4,1,45,2,0,0,73,20.0,3.0,0,0,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.207508,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,34.887378,5.895458,3.467655,59.780323,8.0,28.0

In [427]:
full_datax1['relative_age']=full_datax1['age']-full_datax1['avg_age_dept']

In [428]:
full_datax1['relative_service']=full_datax1['length_of_service']-full_datax1['avg_service']

In [429]:
full_datax1.to_csv('inter_full.csv')